node_modules
.git
.gitignore
.env
.env.*
!.env.sample
dist
coverage
*.log
Dockerfile
.dockerignore
.dockerfile
README.md
license
LICENSE
.vscode
.idea
.DS_Store
api
vercel.json
.eslintcache
*.tsbuildinfo
